@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

main section {
  width: 100%;
  height: 100vh;
}
main .ui_left {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}
main .ui_right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
}
main .wrap_first {
  position: relative;
}
main .wrap_first .background {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}
main .wrap_first .background .first_left {
  width: 50%;
  height: 100%;
  background: black;
  clip-path: ellipse(20% 30% at 50% 50%);
  transition: all 0.5s ease-in-out;
}
main .wrap_first .background .first_left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main .wrap_first .background .first_left.left_over {
  clip-path: ellipse(100% 100%);
}
main .wrap_first .background .first_right {
  width: 50%;
  height: 100%;
  clip-path: ellipse(100% 100%);
  transition: all 0.5s ease-in-out;
}
main .wrap_first .background .first_right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .wrap_first .background .first_right.right_leave {
  clip-path: ellipse(20% 30% at 50% 50%);
}
main .wrap_first .svg_box {
  display: inline;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
main .wrap_first .svg_box h2 {
  color: transparent;
  font-size: 6rem;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-image: url("./../img/bg_3.png");
  animation: fillUp 3s forwards;
}
main .wrap_secon {
  display: flex;
  justify-content: center;
  background: #000 url("./../img/img_1.jpg") no-repeat center center;
  color: white;
  overflow-x: hidden;
}
main .wrap_secon .container {
  padding-left: 20%;
}
main .wrap_secon .container p {
  font-size: 5.625rem;
}
main .wrap_third {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 300px 0;
  background-color: black;
  color: white;
  transform: rotate(0deg);
}
main .wrap_third .third_left {
  width: 60%;
  z-index: 20;
}
main .wrap_third .third_left img {
  width: 62.5rem;
  padding-top: 116px;
}
main .wrap_third .third_right {
  width: 38.125rem;
}
main .wrap_third .third_right .third_tit {
  padding-bottom: 40px;
  font-size: 3.125rem;
}
main .wrap_third .third_right .third_txt {
  font-size: 1.25rem;
  line-height: 1.4;
}
main .wrap_third .third_line {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
}
main .wrap_third .third_line .cover {
  width: 100vw;
  margin-bottom: 10rem;
  display: flex;
}
main .wrap_third .third_line .cover:nth-child(1) {
  margin-top: 5vh;
  transform: rotate(-5deg) translateX(-9px);
  background-color: gainsboro;
}
main .wrap_third .third_line .cover:nth-child(2) {
  position: absolute;
  bottom: 0;
  transform: rotate(6deg) translateX(-15px);
  background-color: #424242;
  justify-content: flex-end;
}
main .wrap_third .third_line .cover p {
  display: flex;
  padding: 3rem 0;
  font-size: 5rem;
}
main .wrap_fourth {
  display: flex;
  justify-content: center;
  height: 170vh;
  background-color: black;
}
main .wrap_fourth .fourth_left, main .wrap_fourth .fourth_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 24.43rem;
  height: 100%;
  flex: 1;
}
main .wrap_fourth .fourth_left img:first-child, main .wrap_fourth .fourth_right img:first-child {
  width: 22.5rem;
  padding-top: 16rem;
}
main .wrap_fourth .fourth_left img:nth-child(2), main .wrap_fourth .fourth_right img:nth-child(2) {
  width: 24.5rem;
  padding-top: 12rem;
}
main .wrap_fourth .fourth_left img:first-child {
  padding-top: 0rem;
}
main .wrap_fourth .fourth_left img:nth-child(2) {
  padding-top: 16rem;
}
main .wrap_fourth .fourth_center {
  font-size: 3.75rem;
  color: white;
  line-height: 1.6;
}
main .wrap_fourth .fourth_center .container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
main .wrap_fourth .fourth_center .container p {
  width: 42rem;
  padding-bottom: 7.5rem;
}

footer {
  background-color: black;
  color: white;
}
footer .container {
  max-width: 67.5rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 15px 0;
}

@keyframes fillUp {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 125%;
  }
}
.is-visible {
  opacity: 1;
}