@import "./reset.scss";
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
// header{
//     position: fixed;
//     z-index: 11;
//     left: 0;
//     top: 0;
//     width: 100vw;
//     pointer-events: none;
// }
main{
    section {width: 100%;height: 100vh;}
    .ui_left{
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 30;
    }
    .ui_right{
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 30;
    }
    .wrap_first{
        position: relative;
        
        .background{
            display:flex;width:100%;height:100%;overflow: hidden;background: black;

            .left_section{
                width:50%;
                height:100%;
                background: black;
                clip-path:ellipse(20% 30% at 50% 50%);
                transition:all .5s ease-in-out;

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                &.left_over{clip-path:ellipse(100% 100%);}
            }
            .right_section{
                width:50%;height:100%;
                clip-path:ellipse(100% 100%);
                transition:all .5s ease-in-out;

                video{width:100%;height:100%;object-fit: cover;}
                &.right_leave{clip-path:ellipse(20% 30% at 50% 50%)}
            }
        }
        .svg_box{
            display: inline;
            width: 100%;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            h2{
                color: transparent;
                font-size: 6rem;
                background-repeat: repeat-x;
                -webkit-background-clip: text; 
                -moz-background-clip: text; 
                background-clip: text;
                background-image: url("./../img/bg_3.png");
                animation: fillUp 3s forwards;
            }
        }
    }
    .wrap_secon{
        display:flex;
        justify-content: center;
        background:#000 url('./../img/img_1.jpg')no-repeat center center;
        color:white;
        overflow-x: hidden;
        
        .container{
            padding-left: 20%;

            p{font-size: 5.625rem;}
        }
        

        
    }
    .wrap_third{
        overflow: hidden;
        background:#CA9985 url(../img/img_2.jpg)no-repeat center center/contain;
        // img{object-fit: contain;height: 937px;}
    }
}
@keyframes fillUp {
    0% {
    background-size: 100% 0%;
    }
    100% { 
    background-size: 100% 125%
    }
}


.is-visible{opacity:1;}