@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

header {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100vw;
  pointer-events: none;
}

main .ui_left {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}
main .ui_right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
}
main .wrap_background {
  height: 100vh;
}
main .wrap_background .background {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}
main .wrap_background .background .left_section {
  width: 50%;
  height: 100%;
  background: black;
  clip-path: ellipse(20% 30% at 50% 50%);
  transition: all 0.5s ease-in-out;
}
main .wrap_background .background .left_section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main .wrap_background .background .left_section.left_over {
  clip-path: ellipse(100% 100%);
}
main .wrap_background .background .right_section {
  width: 50%;
  height: 100%;
  clip-path: ellipse(100% 100%);
  transition: all 0.5s ease-in-out;
}
main .wrap_background .background .right_section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .wrap_background .background .right_section.right_leave {
  clip-path: ellipse(20% 30% at 50% 50%);
}
main .wrap_background .svg_box svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .wrap_background .svg_box svg path {
  fill: #fff;
  stroke-width: 7;
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);
  animation: path 1s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}